doctype html
html
head
  title Employee Form
  link(rel='stylesheet', href='/styles/style.css')
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  body
  a.btn.btn-secondary.d-inline-flex.align-items-center.gap-2(href='/employees')
      i.fas.fa-arrow-left
         |       Back to Employees
  div.Flex-center
   div.Form-Background
    h1 Add Employee
    form(method="post", action=`/employees/edit/${employee.id}`)
      div.form-group
        label Name
        input.form-control(type="text", name="name", value=employee.name, required)
      div.form-group
        label Designation
        input.form-control(type="text", name="designation", value=employee.designation)
      //- div.form-group
      //-   label Branch
      //-   input.form-control(type="text", name="branch", value=employee.branch)
      div.form-check
        input.form-check-input(type="checkbox", name="isActive", checked=employee.isActive)
        label.form-check-label Active
      div.form-group
       button.btn.btn-success(type="submit") Update
