doctype html
html
  head
    title Edit Asset
    link(rel='stylesheet', href='/styles/style.css')
  body
   a(href='/assets').btn.btn-secondary Back to Asset Table  
  div.Flex-center
   div
    h1 Edit Asset
    form(action=`/assets/edit/${asset.id}` method='POST')
      div.form-group
        label(for='assetName') Asset Name
        input(type='text' name='assetName' value=asset.assetName required)
      div.form-group
        label(for='serialNumber') Serial Number
        input(type='text' name='serialNumber' value=asset.serialNumber required)
      div.form-group
        label(for='purchaseDate') Purchase Date
        input(type='date' name='purchaseDate' value=asset.purchaseDate.toISOString().split('T')[0] required)
      div.form-group
        label(for='purchasePrice') Purchase Price
        input(type='number' name='purchasePrice' value=asset.purchasePrice required)
      div.form-group
        label(for='branch') Branch
        input(type='text' name='branch' value=asset.branch required)
      //-  div.form-group
      //-   label(for='status') Status
      //-   select(name='status')
      //-     option(value='Available' selected=asset.status == 'Available') Available
      //-     option(value='Issued' selected=asset.status == 'Issued') Issued
      //-     option(value='Returned' selected=asset.status == 'Returned') Returned
      //-     option(value='Scrapped' selected=asset.status == 'Scrapped') Scrapped
      div.form-group
        label(for='condition') Condition
        select(name='condition')
          option(value='New' selected=asset.condition == 'New') New
          option(value='Used' selected=asset.condition == 'Used') Used
          option(value='Damaged' selected=asset.condition == 'Damaged') Damaged
      div.form-group
        label(for='categoryId') Category
        select(name='categoryId' required)
          each category in categories
            option(value=category.id selected=asset.categoryId == category.id) #{category.name}
      div.form-group
        button(type='submit') Update Asset
