doctype html
html
  head
    title Asset Management
    link(rel='stylesheet', href='/styles/style.css')
  body
    nav.navbar
      ul.nav-list
        li: a(href='/assets') Asset List
        li: a(href='/assets/issue') Issue Asset
        li: a(href='/assets/return') Return Asset
        li: a(href='/assets/scrap') Scrap Asset
        li: a(href='/assetHistory') Asset History
        li: a(href='/employees') Employee
        li: a(href='/assetCategories') Asset Category

    h1.asset-management Asset Management
    h1 Stock View

    table.table.table-bordered
      thead
        tr
          th Asset ID
          th Name
          th Serial Number
          th Branch
          th Purchase Price
          th Status
      tbody
        if availableAssets.length
          each asset in availableAssets
            tr
              td= asset.id
              td= asset.assetName
              td= asset.serialNumber
              td= asset.branch
              td= asset.purchasePrice
              td= asset.status
        else
          tr
            td(colspan='6' style='text-align:center;') No data available

    // Footer section to display branch totals and total value
    footer
      h1 Branch Totals
      table.table.table-bordered
        thead
          tr
            th Branch
            th Total Count
            th Total Value
        tbody
          if Object.keys(branchTotals).length
            each branch in Object.keys(branchTotals)
              tr
                td= branch
                td= branchTotals[branch].totalCount
                td= '$' + branchTotals[branch].totalValue.toFixed(2)
          else
            tr
              td(colspan='3' style='text-align:center;') No data available
